{%extends 'base.html'%}
{%block content%}
<form method="post" class="form">
    {%csrf_token%}
    {{form}}
    <button   type="submit">
        submit
    </button>

</form>



<p style="color:brown;">{{msg}}</p>




    <div>
        <canvas id="myChart"></canvas>
      </div>

      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

      <script>
        const ctx = document.getElementById('myChart');
        var labels = {{ labels|safe }};
        var data = {{ data|safe }};
        new Chart(ctx, {

          type: 'bar',
          data: {
            labels:labels,
            datasets: [{
              label: '# of Votes',
              data: data,
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
      </script>
      <style>
        .form{

          display: flex;
          margin: 3%;
  
          margin-top: 4%;
          background-color: #545D7A;
          height: 10%;
          align-items: center;
          justify-content: center;
          border-radius: 10px;
  
  
  
  
      }
      .form input{
          height: 30%;
          border-radius: 10px;
          border: none;
  
      }
      .form button{
          width: 60px;
          height: 30%;
          margin-left: 1%;
          border-radius: 10px;
          background-color: #10182F;
          border: none;
          color: white;
  
      }
      .form label{
          font-size: 22px;
  
      }
      </style>
{%endblock%}